@import url('https://fonts.cdnfonts.com/css/ocr-a-std');

p{
position:absolute;
top:70%;
left:30%;
translate: translate(-50%,50%);
z-index: 5px;
width:45%;
padding:40px 0;
text-align:center;
color:#d9181180; #
}

.neon {
  font-family: OCR A Std;
  color: #d9181180;
  font-size: 1.5vw;
  line-height: 1.5vw;
  text-shadow: 0 0 3vw #F40A35;
}



.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 5s ease infinite;
  -webkit-animation: neon 3s ease infinite;
}




@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}


